@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.profile-card{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 316px;
    height: 538px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Montserrat;
}

.user-name-profile-card{
    font-size: 25px;
    padding-top: 21px;
    padding-left: 30px;
}

.job-info{
    padding-left: 30px;
    font-size: 15px;
    color: #00B7DB;
}

.hobby-info{
    padding-top: 22px;
    padding-left: 30px;
    font-size: 15px;
    color: #747474;
}

.georg_brown_img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px ;
}